.App {
  text-align: center;
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
  padding: 20px;
}
.triangle {
  display: block;
  width: 0;
  height: 0;
  border-top: 100px solid #000000;
  border-right: 100px solid transparent;
  /* border-bottom: 100px solid transparent; */
  border-bottom: 100px solid;
  border-left: 100px solid transparent;
}
